h1{
    color: violet;
}
.Registration{
    color: chocolate;
}
h2{
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-style: italic;
}